h1,h2,h3,p,a,div{
    margin:0;
    padding:0;
}

*{  
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
   
}
form{
    border-radius: 50px;
    width: 250px;
}
form input[type="text"][id="canalInput"] :focus{
    outline: none;
    ;
}
form input[type="submit"]{
    font-size: 10px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border-style: none;
}
form input[type="submit"]:hover{
    cursor: pointer;
    color: blue;
}
.canal-container{
    background-attachment: var(--white);
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    padding: 5px;
    font-size: 1.1em;
    cursor: pointer;
}
.closecanal{
    width: 15px;
    height: 15px;
}
#imagenUser{
    width: 15px;
    height: 15px;
}
#closecanal:hover{
    cursor: pointer;
}
#u2{
    width: 50px;
    height: 50px;
}




















aside{
    width: 25%;
    height:850px;
	background-color: orange;
	display:inline-block;
	font-size: 50%;
	vertical-align:top;
    padding-left: 5px;
    border-radius: 5px;
}
aside h1 {
    font-size: 150%;
}
input{
    border-radius: 5px;
}
main {
    background-color:lightblue;
    position: absolute;
    width: 75%;
    height: 850px;
    display: inline-block;
    font-size:75%;
	vertical-align:top;
    padding-left: 5px;
    border-color: blue;
    border-radius: 5px;

}
section{
    background-color: red;
    height:max-content

}

#mensajenuevo {
    padding-bottom: 0px;
    padding-left: 5px;
    right: 0px;
    position: absolute;
    bottom: 5px;
    left: 325px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 100px;
    
}
main input{
   margin-left: 5px;
   right: 0px;
   padding-left: 5px;
   border-radius: 50px;
   display: inline-block;
    
}
#buscar {
   border-right: 150px;
   padding-right: 0;
   display:block
}
#enviar{
    height: 30px;
    position: absolute;
    bottom: 5px;
    border-radius: 5px;
    margin-left: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nombrechat{
    background-color: yellow;
}
.buscador {
    background-color: yellow;
    display: inline-flexbox;
}