h1,h2,h3,p,a,div{
    margin:0;
    padding:0;
}

*{  
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
   
}
main {
    background-color:lightblue;
    position: absolute;
    width: 75%;
    height: 100%;
    display: inline-block;
    font-size:75%;
	
}
aside{
    width: 25%;
    height: 700px;
	background-color: orange;
	display:inline-block;
	font-size: 50%;
	vertical-align:top;
    padding-left: 5px;
    border-radius: 5px;
    box-sizing: border-box;
}
#listTotal{
    background-color: white;
}
aside h1 {
    font-size: 150%;
}
input{
    border-radius: 5px;
    width: 70%;
}
form input[type="text"][id="canalInput"] :focus{
    outline: none;
    ;
}
form input[type="submit"]{
    font-size: 10px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border-style: none;
}
form input[type="submit"]:hover{
    cursor: pointer;
    color: blue;
}
.list-channels{
    padding: 5px;
    
}
.list-messages{
    padding: 5px;
}

.closecanal{
    width: 15px;
    height: 15px;
}
#imagenUser{
    width: 15px;
    height: 15px;
}
#ImgCanal{
    width: 15px;
    height: 15px;

}
.closecanal:hover{
    cursor: pointer;
}
.closemessage:hover{
    cursor: pointer;
}

#u2{
    width: 50px;
    height: 50px;
}




section{
    
    background-color: red;
    height:max-content

}

#mensajenuevo {
    padding-bottom: 0px;
    width: 75%;
    height: 10%;
    padding-left: 5px;
    left: 15%;
    right: 0%;
    position: absolute;
    bottom: 5px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 100px;
    
}

#enviar{
    height: 10%;
    width: 10%;
    position: absolute;
    bottom: 5px;
    border-radius: 5px;
    margin-left: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
}
main input{
   margin-left: 5px;
   right: 0px;
   padding-left: 5px;
   border-radius: 5px;
   display: inline-block;
    
}
#buscar {
   border-right: 150px;
   padding-right: 0;
   display:block
}


.nombrechat{
    background-color: yellow;
}
.buscador {
    background-color: yellow;
    display: inline-flexbox;
}
.channel-class{
    justify-content: space-between;
}